.order-and-truck-id {
    display :grid;
    grid-template-columns: 1fr 1fr;
}

.order-id {
    grid-column: 1;
}

.truck-id {
    grid-column: 2;
    margin-inline-start: auto;
    margin-top: 20px;
    margin-right: 20px;
    width: 120px;
    word-wrap: break-word;
    text-align: center;
    font-size: x-large;
}

.each-product {
    display: grid;
    border: 2px solid black;
    border-radius: 6px;
    margin: 10px;
    padding: 10px;
    grid-template-columns: 32% 38% 30%;
    grid-template-rows: 25% 20% 20% 20% 15%;
    gap:10px;
    justify-content: space-evenly;
    align-content: space-evenly;
    @media (max-width: 768px) {
        padding:5px;
        font-size: small;
      }
}

.product-name {
    grid-column: 1 / span 2;
    margin-left: 8px;

}

.enlarge-image {
    grid-column: 1;
    grid-row: 2 / span 3;
    align-content: center;
    margin-left: 30px;
    margin-top: -20px;
    position: relative;
}
.enlarge-image img{
    display: block;
    @media (max-width: 1300px) {
        width:80% /* Adjust the size for smaller screens */
      }
}
.expand-icon { 
    position: absolute;
    top:0%;
    right:50%;  
    font-weight: bold;
    @media (max-width: 768px) {
        padding:5px;
        top:70%;
        left:20%; /* Adjust the size for smaller screens */
      }
    @media (max-width: 1300px) {
        right:15%; /* Adjust the size for smaller screens */
    }
}


.product-category {
    grid-column: 2;
    grid-row: 3;
    border: solid 2px black;
    border-radius: 5px;
    padding: 2px;
    text-align: center;
    height: fit-content;
    margin-top: 10px;
}

.product-location {
    grid-column: 2;
    grid-row: 2;
    border: solid 2px black;
    border-radius: 5px;
    padding: 2px;
    text-align: center;
    height: fit-content;

} 

.attributes {
    grid-column: 2;
    grid-row: 4;
    border: solid 2px black;
    border-radius: 5px;
    padding: 1px;
    text-align: center;
    height: fit-content;
 

}

.attributes p {
    display: inline-block;
    justify-content: space-between;
    margin: 0 5px;
  }

.product-packed-button {
    grid-column: 3;
    grid-row: 4 / span 1;
    width: fit-content;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    margin-top: -16px;
    border : 2px solid #484449 ;
    color: #D9D9D9;
    font-size: large;
    background-color: #6C744A;
    border-radius: 6px;
    @media (max-width: 768px) {
        padding:5px;
        font-size: small;
      }
}







