.body {
    background-color: #D9D9D9;
}

.order-and-truck-id {
    display :grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    @media (max-width: 600px) {
        padding:5px;
        font-size: small;
      }
}

.order-id {
    grid-column: 1;
    grid-row: 1;
    /* margin-top: 40px; */
    /* @media (max-width: 825px) {
        padding:5px;
        font-size: medium; */
      }

.product-images {
    border: 1px solid black;
    margin-top: 25px;
}

.truck-id {
    grid-column: 2;
    grid-row:1;
    margin-inline-start: auto;
    margin-top: 45px;
    margin-right: 20px;
    margin-bottom: 0;
    width: 30%;
    word-wrap:normal;
    text-align: center;
    font-size: x-large;
    @media (max-width: 825px) {
        font-size: small;
      }
}

.each-product {
    margin-top: 20px;
    display: grid;
    /* border: 2px solid black; */
    border-radius: 6px;
    padding: 10px;
    grid-template-columns: 32% 38% 30%;
    grid-template-rows: 25% 20% 20% 20% 15%;
    gap:10px;
    justify-content: space-evenly;
    align-content: space-evenly;
    background-color: #D9D9D9;
    box-shadow: 5px 5px 5px grey;
    @media (max-width: 768px) {
        padding:5px;
        font-size: small;
      }
}

.product-name {
    grid-column: 1 / span 2;
    margin-left: 8px;

}

.enlarge-image {
    grid-column: 1;
    grid-row: 2 / span 3;
    align-content: center;
    margin-left: 30px;
    margin-top: -20px;
    position: relative;
}
.enlarge-image img{
    display: block;
    @media (max-width: 1300px) {
        width:80% 
      }
}
.expand-icon { 
    position: absolute;
    top:13%;
    left:68%;  
    font-weight: bold;
    @media (max-width: 768px) {
        padding:5px;
        top:70%;
        left:20%; 
      }
    @media (max-width: 1300px) {
        right:15%; 
    }
}


.product-category {
    grid-column: 2;
    grid-row: 3;
    border: solid 2px black;
    border-radius: 5px;
    padding: 2px;
    text-align: center;
    height: fit-content;
    margin-top: 10px;
}

.product-location {
    grid-column: 2;
    grid-row: 2;
    border: solid 2px black;
    border-radius: 5px;
    padding: 2px;
    text-align: center;
    height: fit-content;

} 

.attributes {
    grid-column: 2;
    grid-row: 4;
    border: solid 2px black;
    border-radius: 5px;
    padding: 1px;
    text-align: center;
    height: fit-content;
 

}

.attributes p {
    display: inline-block;
    justify-content: space-between;
    margin: 0 5px;
  }

.product-packed-button {
    grid-column: 3;
    grid-row: 4 / span 1;
    width: fit-content;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    margin-top: -16px;
    border : 2px solid #484449 ;
    color: #D9D9D9;
    font-size: large;
    background-color: #6C744A;
    border-radius: 6px;
    @media (max-width: 820px) {
        padding:5px;
        font-size: small;
      }
}

/* Modal Container */
.enlarge-image-modal {
    display: block;
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 999;
    justify-content: center;
    align-items: center;
}
  
  /*.image-modal Content */
.image-modal-content {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 10px;
    position: relative;
    text-align: center;
    max-width: 50%;
    min-width: 35%;
    max-height: 90%;
    width: fit-content;
    height: auto;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    margin-bottom: 10px;

}

.image-modal-content img{
    /* width:90%; */
}

.image-modal-content figure{
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 90%;
    max-height: 90%;
    margin: auto;
  }
  
.image-modal-content figcaption{
    background-color:rgba(72,68,73, 0.2);
    color:#6C744A;
    font: x-large bold;
    padding: 3px;
    text-align: center;
    @media (max-width: 900px) {
        font-size: medium;
      }
}

.image-modal-content button{
    width: fit-content;
    height: fit-content;
    position: absolute;
    top:2%;
    right:2%;
    /* margin-left: auto;
    margin-right: auto; */
    padding: 5px;
    border : 2px solid #484449 ;
    color: #D9D9D9;
    font-size: x-large;
    background-color: #6C744A;
    border-radius: 6px;
    @media (max-width: 900px) {
        font-size: medium;
      }
}


.confirm-order {
    width: max-content;
    height: max-content;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    margin-top: 16px;
    border : 2px solid #484449 ;
    color: #D9D9D9;
    font-size: xx-large;
    background-color: #6C744A;
    border-radius: 6px;
    @media (max-width: 820px) {
        padding:5px;
        font-size: large;
      }
}

.confirm-order-button {
    width: max-content;
    height: max-content;
    margin-left: auto;
    margin-right: auto;
    border-radius: 6px;
}

.confirm-order-button button{
    font-size: xx-large;
    border : 4px solid #A9B47A ;
}

/* Modal Container */
.confirm-modal {
    display: block;
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent background */
    z-index: 3;
    justify-content: center;
    align-items: center;
  }
  
  /* confirm-modal Content */
  .confirm-modal-content {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 10px;
    position: relative;
    text-align: center;
    max-width: 80%;
    overflow-y: auto;
    width: 450px;
    height: 300px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
  }
 
  .confirm {
    width: fit-content;
    height: fit-content;
    /* position: absolute; */
    /* margin: -px; */
    margin-left: 10px;
    margin-top: 7px;
    padding: 5px;
    border : 2px solid #484449 ;
    color: #D9D9D9;
    font-size: x-large;
    background-color: #6C744A;
    border-radius: 6px;
    @media (max-width: 900px) {
        font-size: medium;
      }
  }
  
  .iframe {
    position: relative;
    width: auto; /* Adjust width as needed */
    height: auto; /* Adjust height as needed */
  }
  
  .iframe iframe {
    width: auto;
    height: auto;
  }
  
  .iframe-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    pointer-events: auto; /* Capture clicks */
    z-index: 4; /* Ensure it covers the iframe */
  }






